@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

:root {
  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
  --light-blue: #31c3bd;
  --light-blue-hover: #65e9e4;
  --light-yellow: #f2b137;
  --light-yellow-hover: #ffc860;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-style: normal;
  font-size: 10px;
}

body {
  margin: 20px auto 0;
  width: 328px;
  background: var(--dark-navy);
  color: var(--silver);
}

/* -------------------------------------------------------------------- */
/* repeated */

.pick-player > div,
.game header,
.game footer,
.whos-turn,
.end-game > div,
.end-game-heading {
  display: flex;
}

.whos-turn,
.game header,
.end-game > div,
.end-game-heading {
  align-items: center;
}

button,
.silver-x,
.silver-o,
.space {
  cursor: pointer;
}

.silver-x,
.silver-o,
.restart-btn {
  background-repeat: no-repeat;
  background-position: center;
}

.new-game button,
.pick-player {
  border-radius: 15px;
}

.pick-player > div,
.pick-player > div > div,
.space,
.game footer > div,
.end-game button {
  border-radius: 10px;
}

/* -------------------------------------------------------------------- */
/* typography */

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 1.5px;
}

h3,
button {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.new-game p,
.whos-turn,
.end-game p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.875px;
}

.new-game p {
  font-weight: 500;
  opacity: 0.5;
}

.whos-turn,
.end-game p {
  font-weight: 700;
}

.game footer > div {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.75px;
}

.point {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1.25px;
}

button {
  color: var(--dark-navy);
  border: none;
}

button.yellow-btn,
button.yellow-btn-secondary {
  background: var(--light-yellow);
}

button.yellow-btn {
  box-shadow: inset 0px -8px 0px #cc8b13;
}

button.yellow-btn-secondary {
  box-shadow: inset 0px -4px 0px #cc8b13;
}

button.yellow-btn:hover,
button.yellow-btn-secondary:hover {
  background: var(--light-yellow-hover);
}

button.blue-btn {
  background: var(--light-blue);
  box-shadow: inset 0px -8px 0px #118c87;
}

button.blue-btn:hover {
  background: var(--light-blue-hover);
}

button.silver-btn {
  background-color: var(--silver);
  box-shadow: inset 0px -4px 0px #6b8997;
}

button.silver-btn:hover {
  background-color: var(--silver-hover);
}

/* -------------------------------------------------------------------- */
/* NewGame component */

.new-game {
  text-align: center;
}

.new-game > img {
  margin-top: 50px;
}

.pick-player {
  margin: 32px 0;
  padding: 24px 24px 30px;
  background: var(--semi-dark-navy);
  box-shadow: inset 0px -8px 0px #10212a;
}

.pick-player > div {
  margin: 24px 0 17px;
  padding: 9px 8px;
  background: var(--dark-navy);
}

.pick-player > div > div {
  flex-grow: 1;
  height: 54px;
}

.silver-x:hover,
.silver-o:hover {
  background-color: rgba(168, 191, 201, 0.05);
}

.silver-x {
  background-image: url("./img/icon-x-silver.svg");
}

.silver-o {
  background-image: url("./img/icon-o-silver.svg");
}

.x-selected,
.x-selected:hover,
.o-selected,
.o-selected:hover {
  background-color: var(--silver);
}

.x-selected {
  background-image: url("./img/icon-x-dark.svg");
}

.o-selected {
  background-image: url("./img/icon-o-dark.svg");
}

.new-game button {
  width: 100%;
  padding: 14px 0 22px;
}

.yellow-btn {
  margin-bottom: 16px;
}

/* -------------------------------------------------------------------- */
/* Game component */

.whos-turn,
.restart-btn {
  border-radius: 5px;
  height: 40px;
}

.whos-turn,
.game footer {
  justify-content: space-between;
}

.whos-turn,
.space,
.game footer > div {
  width: 96px;
}

.whos-turn {
  margin: 0 74px 0 46px;
  padding: 9px 15px 13px;
  background: var(--semi-dark-navy);
  box-shadow: inset 0px -4px 0px #10212a;
}

.whos-turn img {
  width: 16px;
  height: 16px;
}

.restart-btn {
  width: 40px;
  background-image: url(./img/icon-restart.svg);
}

.game main {
  margin: 64px 0 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.space {
  height: 96px;
  background: var(--semi-dark-navy);
  box-shadow: inset 0px -8px 0px #10212a;
}

.x-filled,
.o-filled,
.hover-x:hover,
.hover-o:hover {
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.x-filled {
  background-image: url(./img/icon-x.svg);
}

.o-filled {
  background-image: url(./img/icon-o.svg);
}

.hover-x:hover {
  background-image: url(./img/icon-x-outline.svg);
}

.hover-o:hover {
  background-image: url(./img/icon-o-outline.svg);
}

.game footer > div {
  height: 64px;
  padding: 12px 0;
  color: var(--dark-navy);
  text-align: center;
}

#x-player {
  background-color: var(--light-blue);
}

#ties {
  background-color: var(--silver);
}

#o-player {
  background-color: var(--light-yellow);
}

/* -------------------------------------------------------------------- */
/* EndGame component */

.end-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.end-game > div {
  height: 228px;
  margin-top: calc(100vh / 2 - 228px / 2);
  background-color: var(--semi-dark-navy);
  flex-direction: column;
  justify-content: center;
}

.end-game > div > p {
  margin-bottom: 16px;
}

.end-game-heading {
  margin-bottom: 24px;
}

.end-game-heading img {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.end-game button {
  padding: 15px 16px 17px;
}

.end-game button:first-child {
  margin-right: 16px;
}

/* -------------------------------------------------------------------- */
/* media query */

@media (min-width: 460px) {
  body {
    width: 460px;
  }

  /* ------------------------------------------------------------------ */
  /* typography */

  h2 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 2.5px;
  }

  .new-game button {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1.25px;
  }

  .whos-turn,
  .end-game p {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }

  .game footer > div {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.875px;
  }

  .point {
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
  }

  /* ------------------------------------------------------------------ */
  /* NewGame component */

  .pick-player {
    margin: 40px 0;
  }

  .new-game button {
    padding: 17px 0 25px;
  }

  .yellow-btn {
    margin-bottom: 20px;
  }

  /* ------------------------------------------------------------------ */
  /* Game component */

  .whos-turn,
  .restart-btn {
    border-radius: 10px;
    height: 52px;
  }

  .space,
  .game footer > div {
    border-radius: 15px;
  }

  .whos-turn,
  .space,
  .game footer > div {
    width: 140px;
  }

  .whos-turn {
    margin: 0 108px 0 88px;
    padding: 13px 30px 19px;
  }

  .whos-turn img {
    width: 20px;
    height: 20px;
  }

  .restart-btn {
    width: 52px;
  }

  .game main {
    margin: 20px 0;
  }

  .space {
    height: 140px;
  }

  .x-filled,
  .o-filled,
  .hover-x:hover,
  .hover-o:hover {
    background-size: 64px;
  }

  .game footer > div {
    height: 72px;
    padding: 13px 0 11px;
  }

  /* ------------------------------------------------------------------ */
  /* EndGame component */

  .end-game > div {
    height: 266px;
    margin-top: calc(100vh / 2 - 266px / 2);
  }

  .end-game-heading img {
    width: 64px;
    height: 64px;
    margin-right: 24px;
  }
}
